@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

html,
body {
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 2160px) {
    .container-main {
        width: 100%;
        background-color: #FFFFFF;
    }
    
    .container-nav1 {
        width: 100%;
        padding: 1.5rem;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .container-n1left img {
        height: 3.5rem;
    }
    
    .container-n1right button {
        padding: 1rem 2rem;
        font-size: 1.3rem;
        font-weight: 500;
        border-radius: 5px;
        background-color: transparent;
        border: 1px solid #4528ad;
        color: #754FFE;
    }
    
    .container-page1 {
        height: 88vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    
    .box1 {
        padding: .7rem 1rem;
        border-radius: 50px;
        font-size: .9rem;
        background-color: rgba(144, 238, 144, 0.365);
    }
    
    .container-page1 h1 {
        padding: 1rem;
        font-size: 5rem;
        font-weight: 600;
    }
    
    .container-page1 p {
        font-size: 2rem;
        font-weight: 500;
        color: #00000058;
    }    
}

@media only screen and (max-width: 750px) {
    .container-main {
        width: 100%;
        background-color: #FFFFFF;
    }
    
    .container-nav1 {
        width: 100%;
        padding: .5rem 1.5rem;
        gap: 10px;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .container-n1left img {
        padding-top: 10px;
        height: 3rem;
    }
    
    .container-n1right button {
        padding: 0.3rem .5rem;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 5px;
        background-color: transparent;
        border: 1px solid #4528ad;
        color: #754FFE;
    }
    
    .container-page1 {
        height: 88vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    
    .box1 {
        margin-right: 30px;
        padding: .7rem 1rem;
        border-radius: 50px;
        font-size: .9rem;
        background-color: rgba(144, 238, 144, 0.365);
    }
    
    .container-page1 h1 {
        padding-top: 20px;
        padding-right: 40px;
        font-size: 2rem;
        font-weight: 600;
    }
    
    .container-page1 p {
        padding-right: 20px;
        font-size: 0.9rem;
        font-weight: 500;
        color: #00000058;
    }    
}